<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.formapp" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <application
        android:name=".FormApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/logo"
        android:label="RoadGO"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FormApp"
        android:usesCleartextTraffic="true"
        tools:targetApi="31" >
        <activity
            android:name=".ui.MainActivity2"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            />
        <activity
            android:name=".ui.MainActivity3"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.Light"
            />
        <activity
            android:name=".ui.MainActivity4"
            android:exported="false"
            android:theme="@style/Theme.MaterialComponents.Light.DarkActionBar"
            />


        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDbe_xXrfMkhQLigf_MF5k81a5jgBBxyR4" />

        <activity
            android:name=".ui.MainActivity"
            android:exported="true"
            android:label="RoadGO"
            android:theme="@style/Theme.FormApp" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>